body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
h1 {
  color: #0056b3;
  margin-bottom: 20px;
}

p {
  margin: 20px 0;
}

a {
  color: #d63447;
  text-decoration: none;
}
